.swipe-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 250px auto 0;
    height: 300px;
  }

  .slider {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .slide {
    position: absolute;
    top: 100%;
    left: calc(50% - 132px);
    width: 263px;
    height: 150px;
    opacity: 0;
    transition: all 0.7s ease-out;
    text-align: center;
  }
  .slide--active {
    opacity: 1;
    z-index: 9;
  }
  
  .prev,
  .next {
    opacity: 0.3;
  }
  
  .prev {
    transform: translate(0, -50%) scale(0.8);
  }
  
  .next {
    transform: translate(0, 50%) scale(0.8);
  }

  .page-content{
    height:inherit!important;
  }

  .bg-image-repeat{
    background-repeat:no-repeat;
  }

  .mustard-border-tab {
    border: 3px solid #FDB73E;
    border-radius: 8px;
    color: #FDB73E;
  }

  .normal-border-tab {
    border: 3px solid #FDB73E;
    border-radius: 8px;
    color: #000;
    background-color: #FDB73E;
  }

  .mustard-border-tab:visited {
    color: #FDB73E;
  }

  .normal-border-tab:visited {
    color: #000;
  }

  .addCardContainer{
   text-align: center;
  }

  .addContainerButton{
    font-size: 40px;
    color: #FDB73E;
  }

  .displayBalance{
    position: relative;
    top: 100%;
    border: 1px solid #FDB73E;
    padding:10px;
    margin-top: 5px;
    border-radius:5px;
    background-color: #FDB73E;
    
  }


  .displayBalance > span{
    color: #000; 
    font-size: 18px;
    font-weight: bold;
  }

  .settingsBar{
    position: relative;
    top: -65%;
    padding:10px;
    margin-top: 5px;
    border-radius:5px;
    display: flex;
  }

  .flex-item-1, .flex-item-2{
    margin-right: 15px;
  }

  .flex-item-3{
    margin-left: auto;
  }

 .controls-icons{
    color: #FDB73E;
    font-size: 20px;
  }

  .button-up,
.button-down {
  position: relative;
  padding: 5px;
  margin: 30px auto;
  background: #000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.button-down:hover {
  transform: translate3d(0, 10px, 0);
}

.button-up:hover {
  transform: translate3d(0, -10px, 0);
}

.button-up::after,
.button-down::after {
  content: "";
  position: absolute;
  left: 17px;
  z-index: 11;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.button-up::after {
  top: 20px;
  transform: rotate(45deg);
}

.button-down::after {
  top: 10px;
  transform: rotate(225deg);
}
.controls{
  width: 100px;
  position: relative;
  left: 70%;
  top: -10%;
}

.font-size-10{
  font-size: 10px!important;
}

.price-checkbox{
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.cancel-transaction{
  position: absolute!important;
  bottom: 10px!important;
  left: 20%!important;
  right: 20%!important;
}

.submit-transaction{
  position: absolute!important;
  bottom: 80px!important;
  left: 20%!important;
  right: 20%!important;
  color:#000!important;
}

.color-black{
  color:#000!important;
}

.bg-custom-theme{
  background-color: #000;
}

.color-custom-theme{
  color: #FDB73E!important;
}

.alertCard{
  display:none;
  color:#DA4453;
  text-align: center;
  font-size: 16px;
  margin-left: 25%;
}

.alertLessFunds{
  display:none;
  color:#DA4453;
  font-size: 18px;
  font-weight: bold;
}

.alertTransactionFailure{
  display:none;
  color:#DA4453;
  font-size: 18px;
  font-weight: bold;
}

.fs-14{
font-size: 14px!important;
}

.right-item{
  position:absolute;
  right:10%;
}

.text-y{
  color:#FDB73E !important;
  font-weight: bold;
  font-size: 16px;
  margin-left:3px;
}
.scaleUp{
  transform: scale(1.5)!important;
  accent-color: #FDB73E!important;
}



/* width: 500px;
left: 50%;
transform: translateX(-50%); */

@media only screen and (max-width: 768px) {
  .controls {
    display: none;
  }

  .prev {
    transform: translate(0, -70%) scale(0.8);
  }
  
  .next {
    transform: translate(0, 70%) scale(0.8);
  }

  .slide {
    top: 80%;
  }

  .swipe-container{
      margin: 10px auto 0;
  }
}
  
@media only screen and (min-width: 700px) {
  .adjust-width{
    width: 500px;
    left: 50%!important;
  }
  .menu-box-bottom.menu-active {
    transform: translate3d(-50%, 20px, 0);
  }

  .height-adjust{
    height:348px!important;
  }
  
}
  
@media only screen and (max-width: 360px) {
  .slide {
    top: 60%;
  }
}
  